.chart-page {
    background-color: #08232b;
}

.chart-page body {
    color: #08232b;
}

.chart-page .pane-legend-icon-container svg {
    fill: #61688A;
}

.chart-page .tv-side-toolbar .tools-group .button {
    background-color: #08232b;
    border-color: #08232b;
}

.chart-page .tv-side-toolbar .tools-group .button .main.text-as-icon {
    color: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button svg {
    fill: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button.selected,
.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .tv-side-toolbar .tools-group .button:active {
    background-color: #2c3b59;
    border-color: #2c3b59;
}

.chart-page .tv-side-toolbar .tools-group .button.selected svg,
.chart-page .tv-side-toolbar .tools-group .button:hover svg,
.chart-page .tv-side-toolbar .tools-group .button:active svg {
    fill: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:hover .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:active .main.text-as-icon {
    color: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button:hover .side,
.chart-page .tv-side-toolbar .tools-group .button:active .side {
    border-left: 1px solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button:active svg {
    fill: #4e5b85;
}

.chart-page .charts-popup-list {
    background-color: #08232b;
    color: #4e5b85;
    border-color: #2c3b59;
}

.chart-page .charts-popup-list .separator {
    border-top: 1px solid #c1c8ec;
}

.chart-page .charts-popup-list .item {
    background-color: #08232b;
    color: #4e5b85;
}

.chart-page .charts-popup-list .item.active {
    background-color: #2c3b59;
    color: #c7cce6;
}

.chart-page .charts-popup-list .icon-wrap svg {
    fill: #4e5b85;
}

.chart-page .list-inner .item {
    background-color: #08232b;
}

.chart-page .list-inner .item.active {
    background-color: #2c3b59;
}

.chart-page .list-inner .item.active svg {
    fill: #c7cce6;
}

.chart-page .list-inner .item.active span.title {
    color: #c7cce6;
}

.chart-page .list-inner .item span.title {
    color: #4e5b85;
}

.chart-page .favored-list-container span:hover {
    background-color: #2C3B59;
}

.chart-page .tv-floating-toolbar {
    background-color: #2c3b59;
    border-color: #c7cce6;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input {
    background-color: #08232b;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag svg,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input svg {
    fill: #4e5b85;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget {
    border-color: #08232b;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget svg {
    fill: #4e5b85;
}

.chart-page .apply-common-tooltip {
    background-color: #08232b;
    border: 1px solid transparent;
    color: #61688A;
}

.chart-page .pane-legend-line .apply-common-tooltip{
    display: none;
}

.chart-page .apply-common-tooltip:before {
    border: 1px solid transparent;
}

.chart-page .chart-page .layout__area--center .chart-container.active {
    border: 1px solid #08232b !important;
    background: #08232b;
    outline: 3px dashed green;
}

.chart-page .chart-controls-bar {
    background-color: #08232b;
}

.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .header-chart-panel .tools-group .button:hover {
    background-color: #2C3B59;
}

.chart-page .tv-side-toolbar .button:hover,
.chart-page .header-chart-panel .button:hover {
    background: #2C3B59;
}

.chart-page .tv-side-toolbar .group,
.chart-page .header-chart-panel .group {
    float: left;
    height: 20px;
    margin-top: 8px;
}

.chart-page .header-chart-panel .header-group-indicators {
    float: right;
    margin-top: 3px;
}

@media only screen and (max-width: 410px) {
    .header-chart-panel .group.header-group-indicators {
        display: block !important;
    }
}

.tv-insert-study-item:hover {
    transition-duration: .06s;
    background-color: #f1f3f6;
}

.chart-page .tv-side-toolbar .group .button,
.chart-page .header-chart-panel .group .button {
    font-weight: 500;
    color: #1987da;
    padding: 4px;
    cursor: pointer;
}

.chart-page .header-chart-panel .group .button:before {
    border-color: transparent !important;
}

.chart-page .tv-side-toolbar .group .button svg,
.chart-page .header-chart-panel .group .button svg {
    fill: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button:hover,
.chart-page .tv-side-toolbar .group .button.selected,
.chart-page .header-chart-panel .group .button:hover,
.chart-page .header-chart-panel .group .button.selected {
    color: #ffac00;
}

.chart-page .tv-side-toolbar .group .button:hover svg,
.chart-page .tv-side-toolbar .group .button.selected svg,
.chart-page .header-chart-panel .group .button:hover svg,
.chart-page .header-chart-panel .group .button.selected svg {
    fill: #c7cce6;
}

.chart-page .tv-side-toolbar .group .button:active,
.chart-page .header-chart-panel .group .button:active {
    color: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button:active svg,
.chart-page .header-chart-panel .group .button:active svg {
    fill: #4e5b85;
}

.chart-page .tv-side-toolbar .header-group-fullscreen,
.chart-page .header-chart-panel .header-group-fullscreen {
    float: right;
    padding-right: 5px;
}

.chart-page .tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
    background: #4e5b85;
}

.chart-page .button svg {
    fill: #4e5b85;
}

.chart-page .tv-side-toolbar {
    border-right: 1px solid #08232b;
    background-color: #08232b;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side {
    border-left: 1px solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button.selected .main {
    background: #2C3B59;
}

.chart-page .chart-container {
    background-color: #08232b;
    border: 1px solid transparent;
}

.chart-page .tv-close-panel {
    background-color: #2b304a;
    border: none;
}

.chart-page .button {
    background-color: #08232b;
    border-color: #08232b;
}

.chart-page .button:hover {
    background-color: #4e5b85;
}

.chart-page .button.selected, .chart-page .button.active {
    background-color: transparent !important;
}

.chart-page .button.selected svg, .chart-page .button.active svg {
    fill: #08232b;
}

.chart-page .save-load-buttons {
    display: none;
}

/*.chart-page .layout__area--left {
    display: none !important;
}*/

.chart-page .pane-controls,
.chart-page .control-bar-wrapper {
    display: none !important;
}

.chart-page .study {
    height: 12px;
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
    font-size: 8px;
}

.pane-legend-line span {
    font-size: 8px !important;
}

.pane-legend-line.pane-legend-wrap.main.expand-line {
    padding-right: 30px;
}

.pane-legend-item-value {
    padding-left: 2px;
    padding-right: 2px;
}

.pane-separator .handle {
    display: none;
}

._tv-dialog {
    display: none !important;
}

.pane-legend {
    top: -5px;
}

.header-chart-panel .more-select {
    position: relative;
}

.header-chart-panel .more-select .title {
    color: #00b8d6;
    position: relative;
}

.header-chart-panel .more-select:hover .content {
    display: block;
}

.header-chart-panel .more-select .content {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.header-chart-panel .more-select .list {
    display: block;
    height: 18px;
    line-height: 18px;
}

.layout__area--top {
    display: none;
}

.pane-legend-line > span.pane-legend-line {
    padding-right: 6px;
}